/* * {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}

.panel {
  width: 60vw;
  min-width: 500px;
  background-color: gray;
}
div .panel {
  flex-basis: 100%;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-around;
}
div .result {
  text-align: center;
  font-size: 40px;
  font-family: arial;
  color: white;
  background-color: black;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  height: 15vh;
  flex-basis: 100%;
  flex-grow: 2;
}
div {
  border: 1px solid black;
  align-content: space-around;

  font-family: arial;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 10vh;
  flex-basis: 26%;
  flex-grow: 1;
  background-color: lightblue;
  flex-wrap: wrap;
}
div:hover {
  background-color: gray;
  cursor: pointer;
} */
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.panel {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  width: 60%;
  min-width: 500px;
  background-color: gray;
  height: 85vh;
}

.result {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* text-align: right; */
  flex-direction: row;
  flex-basis: 100%;
  background-color: #000;
  color: white;
  font-size: 10vw;
  height: 15vh;
  padding-right: 20px;
}

div.result ~ div {
  display: flex;
  flex-basis: 32%;
  /* flex-grow: 1; */
  justify-content: center;
  align-items: center;
  font-size: 7vh;
  height: 10vh;
  font-family: arial;
  background-color: #009;
}
div > div:nth-last-child(1),
div > div:nth-last-child(2) {
  flex-basis: 46%;
}
div.result ~ div:hover {
  background-color: red;
  cursor: pointer;
}
