* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  position: absolute;
}

img + img {
  opacity: 0;
  animation: switch 6s infinite;
}

@keyframes switch {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
