* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.board {
    position: absolute;
    width: 50%;
    height: 50vw;
    top: calc(50% - 25vw);
    left: calc(50% - 25%);
    border: solid 10px black;
}

span {
    position: absolute;
    height: 50%;
    width: 50%;
}

span:nth-child(1) {
    display: block;
    background-color: red;
    top: 0;
    left: 0;
}

span:nth-child(2) {
    display: block;
    background-color: white;
    top: 0;
    left: 50%;
}

span:nth-child(3) {
    display: block;
    background-color: white;
    top: 50%;
    left: 0;
}

span:nth-child(4) {
    display: block;
    background-color: red;
    top: 50%;
    left: 50%;
}

h1 {
    font-family: sans-serif;
    text-align: center;
    position: relative;
    top: 80vh;
}