body
    margin: 0
    padding: 0
    nav
        background-color: red
        margin: 0 auto
        ul
            // +box-flex(column, space-between)
            display: flex
            // flex-direction: row
            // justify-content: space-around
            align-items: center
            // align-content: space-between
            // align-items: center
            // height: 40vh
            li
                display: flex
                justify-content: center
                align-items: center
                list-style-type: none
                flex-basis: 20%
                // height: 20vh
                background-color: blue
                a
                    text-decoration: none
                    color: $font-color
                    font-size: 20px
                    text-transform: uppercase
                    font-family: arial