* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  opacity: 0;
  position: absolute;
  display: block;
  width: 100vw;
  transition:1s;
}

div.red:hover ~ div.bg p.red {
  opacity: 1;
}
div.blue:hover ~ div.bg p.blue {
  opacity: 1;
}
div.green:hover ~ div.bg p.green {
  opacity: 1;
}
div.orange:hover ~ div.bg p.orange {
  opacity: 1;
}
div.bg {
  /* display: block; */
  /* width: 100vw; */
  background-color: gray;
  height: 100vh;
  text-align: center;
  line-height: 100vh;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 900;
  transition: 2s;
}

div.red {
  background-color: red
}

div.red:hover ~ div.bg {
  background-color: red;
}

div.green {
  background-color: green;
  right: 0;
}

div.green:hover ~ div.bg {
  background-color: green;
}

div.blue {
  background-color: blue;
  bottom: 0;
}

div.blue:hover ~ div.bg {
  background-color: blue;
}

div.orange{
  background-color: orange;
  bottom: 0;
  right: 0;
}

div.orange:hover ~ div.bg {
  background-color: orange;
}

div.circle {
  z-index: 1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid black;
  cursor: pointer;
  position: absolute;
}
