* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  text-transform: uppercase;
  font-family: sans-serif;
  min-height: 100vh;
  background-color: #222;
  /* max-width: 960px; */
  flex-direction: column;
  color: white;
  font-size: 30px;
  align-items: center;
}
nav {
  background-color: black;
  align-self: stretch;
  padding: 10px 0;
  flex-basis: 10vh;
  /* text-align: center; */
}
header {
  width: 100%;
  max-width: 960px;
  background-color: royalblue;
  flex-basis: 25vh;
}
section {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  background-color: brown;
  width: 100%;
  max-width: 960px;
}
footer {
  background-color: black;
  /* align-self: stretch; */
  width: 100%;
  flex-basis: 10vh;
}
main {
  background-color: gray;
  flex-grow: 1;
}
aside {
  flex-basis: 30%;
  min-width: 280px;
}
@media (max-width: 960px) {
  header {
    order: -1;
  }
  section {
    flex-direction: column;
  }
  main {
    flex-grow: 1;
  }
  aside {
    flex-grow: 1;
    flex-basis: auto;
  }
}
