:root {
  --fontSize: 20px;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 40px;
  border: 2px solid black;
}
html {
  /* font-size: 20px; */
}
h1 {
  position: absolute;
  font-size: var(--fontSize);
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}

button.large:hover ~ h1 {
  font-size: calc(var(--fontSize) * 2);
  color: red;
}
button.small:hover ~ h1 {
  font-size: calc(var(--fontSize) / 2);
}

button.order:hover ~ h1 {
  border: 10px solid black;
}
